* {
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* === TOP BANNER === */
header {
	background-color: #ccc;
	height: 10%;
}

.top-banner {
	display: flex;
	height: 100%; 
}

/* Top banner logo and cetificate images */
.top-banner-logo {
	align-items: center;
	display: flex;
	justify-content: center; 
}

.top-banner-logo img {
	max-height: 100%;
	max-width: 100%;
}

.top-banner-logo img:nth-last-child(-n+2) {
	height: 57px;
	width: 57px;
}

/* Top banner search bar */
.top-banner-search-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	width: 20%;
}

.top-banner-search-bar input {
	padding: 10px;
	width: 100%;
	margin-right: 10px;
}

.top-banner-search-bar button {
	padding: 10px;
}

.top-banner-user-account {
	align-items: center;
	display: flex;	  
	justify-content: center;
}

/* Top banner user account */
.top-banner-user-account a {
	align-items: center;
	display: flex;	  
	justify-content: center;
}

.top-banner-user-account img {
	height: 57px;
	width: 57px;
}

/* === GENERAL CONTAINER === */
.general-container {
	display: flex;
	flex: 1;
}

/* Left menu */
.my-nav {
	background-color: #ccc;
	flex-basis: 15%;
	height: 100%;
}

.my-nav ul {
	list-style: none;
	margin: 20px 0;
}

.my-nav ul li {
	margin-bottom: 0px;
}

.my-nav ul li a {
	font-size: large;
	color: #000;
	display: block;	
	padding: 10px;
	text-decoration: none;
	transition: background-color 0.3s;
}

.my-nav ul li a:hover {
	background-color: #007bff;
	color: #ffffff;
	font-size: larger;
}

/* === CENTRAL CONTENT === */
.central-content {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 20px 0px 20px;	
}

/* MAIN CONTENT */
.main-content {
	background-color: #eee;
	flex: 1;
	margin-bottom: 20px;
}

/* FOOTER */
.footer {
	align-items: center;
	background-color: #eee;
	display: flex;
	height: 20%;
	justify-content: space-between;
	padding: 20px 20px 0px 20px;
}

.footer-top {
	width: 100%;
}

.footer-left {
	width: 70%;	
}

.footer-left section {
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: top;
	width: 30%;	
}

.footer-left section h3 {
	margin-bottom: 10px;
}

.footer-right {
	margin-left: auto;
}

.footer-right p {
	text-align: right;
}

.footer-right img {
	max-height: 50px;
	max-width: 50px;
}

.copyright {
	background-color: #eee;
	padding-bottom: 15px;
	text-align: center;	
}

.section-list {
	list-style: none;
}

.section-list li a {
	color: #ffffff;
	text-decoration: none;
}

.section-list li a:hover {
	color: #ffffff;
}






















